html, body {
    margin: 0;
    padding: 0;
}

h4 {
    display: inline;
}

input {
    height: 20px;
    border: 1px solid;
}

.error {
    color: red;
    display: block;
}

.success {
    color: green;
    display: block;
}

#form-success {
    display: none;
    background: #dcffe3;
    position: fixed;
}

input.error, textarea.error, select.error {
    border: 1px solid red;
}

input.valid, textarea.valid, select.valid {
    border: 1px solid green;
}

input, textarea, select {
    margin: 5px;
    padding: 5px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 10px;
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

input#articleTitle {
    width: 100%;
}

textarea#articleText {
    width: 100%;
    min-height: 100px;
}

.fio-group input {
    float: left;
    margin: 5px 2px;
}

button#articleFormSubmit {
    width: calc(100% - 7px);
    margin-left: 0px;
}

select#rubricSelect {
    width: calc(100% - 7px);
    margin-left: 0px;
}

button {
    border: 1px solid lightblue;
    background: lightblue;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: lightgreen;
}

button:active {
    background: darkseagreen;
}

ul#rubricsLinks li {
    line-height: 25px;
}

div.articles-list-one-block {
    border: 1px solid gray;
    margin: 10px auto;
}