<?php
/**
 * Created by PhpStorm.
 * User: codereav
 * Date: 27.12.2018
 * Time: 14:19
 */
$routes = require APP_PATH . DS . 'routes.php';

return [
    'routes' => $routes,
    'baseUrl' =>'http://catalog-test.lc',
    'mysql' => [
        'driver' => 'mysql',
        'host' => '127.0.0.1',
        'port' => '3306',
        'database' => 'catalog-test',
        'username' => 'root',
        'password' => '',
        'collation' => 'utf8mb4_unicode_ci',
        'prefix' => ''
    ]
];